.modal {
    -webkit-animation-name: animatemodal;
    -webkit-animation-duration: 0.4s;
    animation-name: animatemodal;
    animation-duration: 0.4s
}
@-webkit-keyframes animatemodal {
    from {top:-300px; opacity:0}
    to {top:10%; opacity:1}
}

@keyframes animatemodal {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.mft .modal-card-body {
    padding : 0;
}
.mft .modal-card-body .table {
    margin-bottom : 0;
}