{% extends "base.html" %}
{% block modals %}
<div class = "modal mft" id = "addVideoModal">
    <div class="modal-background" onclick = "deactivateModal('addVideoModal');"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{{ artist.name }} - Add Video</p>
            <button class="delete" aria-label="close" onclick = "deactivateModal('addVideoModal');"></button>
        </header>
        <section class="modal-card-body">
            <form action = "/forms/add-video-via-artist/" method = "POST" id = "addVideoForm"></form>
            <input type = "hidden" name = "a_id" form = "addVideoForm" value = "{{ artist.id }}">
            <table class = "table is-striped is-fullwidth">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td><input name = "name" type = "text" class = "input" maxlength = "255" form = "addVideoForm" required = "required"></td>
                    </tr>
                    <tr>
                        <td>Youtube URL</td>
                        <td><input name = "yt_url" type = "text" class = "input" maxlength = "30" required = "required" form = "addVideoForm"></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <footer class="modal-card-foot">
            <button class = "button is-success" type = "submit" form = "addVideoForm">Submit</button>
            <button class = "button is-danger" type = "reset" form = "addVideoForm">Cancel</button>
        </footer>
    </div>
</div>
<div class = "modal mft" id = "editArtistModal">
    <div class="modal-background" onclick = "deactivateModal('editArtistModal');"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit Artist</p>
            <button class="delete" aria-label="close" onclick = "deactivateModal('editArtistModal');"></button>
        </header>
        <section class="modal-card-body">
            <form action = "/forms/edit-artist/" method = "POST" id = "editArtistForm"></form>
            <input type = "hidden" name = "a_id" form = "editArtistForm" value = "{{ artist.id }}">
            <table class = "table is-striped is-fullwidth">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td><input name = "name" type = "text" class = "input" maxlength = "255" required = "required" form = "editArtistForm" value = "{{ artist.get_readable_name() }}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <footer class="modal-card-foot">
            <button class = "button is-success" type = "submit" form = "editArtistForm">Submit</button>
            <button class = "button is-danger" type = "reset" form = "editArtistForm">Cancel</button>
        </footer>
    </div>
</div>
<form id = "delConnForm" action = "/forms/delete-connection/" method = "POST"></form>
<input type = "hidden" form = "delConnForm" name = "connID" id = "delConnID">
<button style = "display : none;" form = "delConnForm" type = "submit" id = "delConnBtn"></button>
{% endblock %}
{% block body %}
<h3 class = "title is-3">{{ artist.get_readable_name() }}</h3>
<h5 class = "subtitle is-5">Added {{ artist.added }}</h5>
<table class = "table is-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Added</th>
            <th>Note</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(videos|length) %}
        {% set video = videos[i] %}
        {% set conn = conns[i] %}
        <tr>
            <td><a href = "/videos/{{video.id }}/">{{ video.name }}</a></td>
            <td>{{ video.added }}</td>
            <td>{% if conn.note %}{{ conn.note }}{% endif %}</td>
            <td>
                <div class = "buttons">
                    <button class = "button is-primary">
                        <span class = "item is-small">
                            <i class = "fa fa-wrench"></i>
                        </span>
                    </button>
                    <button class = "button is-danger" type = "button" onclick = "delConn({{ conn.id }});">
                        <span class = "item is-small">
                            <i class = "fa fa-times"></i>
                        </span>
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class = "buttons">
    <button class = "button is-success" onclick = "activateModal('addVideoModal');">Add Video</button>
    <button class = "button is-info" onclick = "activateModal('editArtistModal');">Edit Artist</button>
</div>
<p><a href = "/">Home</a> | <a href = "/artists/">Artists</a></p>
{% endblock %}