{% extends "base.html" %}
{% block body %}
<h3 class = "title is-3">My Artists</h3>
<table class = "table is-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Added</th>
        </tr>
    </thead>
    <tbody>
        {% for artist in artists %}
        <tr>
            <td><a href = "/artists/{{ artist.name }}/">{{ artist.get_readable_name() }}</a></td>
            <td>{{ artist.added }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class = "buttons">
    <button class = "button is-success" onclick = "activateModal('modalWrapper_addArtist');">Add Artist</button>
</div>
<p><a href = "/">Home</a></p>
{% endblock %}
{% block more_bottom %}
<script>
    let modalsDiv = document.getElementById("modalsDiv");
    let addArtistInputs = [
        {type : "text", name : "Name", maxlength : 255, required : true},
    ];
    let addArtistModal = new FormType(modalsDiv, "Add Artist", "/forms/add-artist/", addArtistInputs);
</script>
{% endblock %}