{% extends "base.html" %}
{% block body %}
<h3 class = "title is-3">Caydio</h3>
{% if user %}
<p>Currently logged in as {{ user.username }}.</p>
<table class="table">
    <thead>
        <tr>
            <th>Song</th>
            <th>Artists</th>
            <th>Added</th>
        </tr>
    </thead>
    <tbody>
        {% for i in range(videos|length) %}
        {% set video = videos[i] %}
        <tr>
            <td><a href = "/videos/{{video.id }}/">{{ video.name }}</a></td>
            <td>
                <ul class = "artistsList">
                    {% for j in range(connections[video.id]|length) %}
                    {% set artist = artists[connections[video.id][j]] %}
                    <a href = "/artists/{{ artist.name }}/">{{ artist.get_readable_name() }}</a>
                    {% if j != connections[video.id]|length - 1 %}<span>,&nbsp;</span>{% endif %}
                    {% endfor %}
                </ul>
            </td>
            <td>{{ video.added }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p><a href = "/artists/">My Artists</a> | <a href = "/videos/">My Videos</a> | <a href = "/tags/">My Tags</a></p>
<p><a href = "/logout/">Logout</a></p>
{% else %}
<p>Not logged in.</p>
<p><a href = "/login/">Login</a></p>
{% endif %}
{% endblock %}