{% extends "base.html" %}
{% block modals %}
<div class = "modal mft" id = "addVideoModal">
    <div class="modal-background" onclick = "deactivateModal('addVideoModal');"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Add Video</p>
            <button class="delete" aria-label="close" onclick = "deactivateModal('addVideoModal');"></button>
        </header>
        <section class="modal-card-body">
            <form action = "/forms/add-video/" method = "POST" id = "addVideoForm"></form>
            <table class = "table is-striped is-fullwidth">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td><input name = "name" type = "text" class = "input" maxlength = "255" form = "addVideoForm"></td>
                    </tr>
                    <tr>
                        <td>Youtube URL</td>
                        <td><input name = "yt_url" type = "text" class = "input" maxlength = "30" required = "required" form = "addVideoForm"></td>
                    </tr>
                </tbody>
            </table>
        </section>
        <footer class="modal-card-foot">
            <button class = "button is-success" type = "submit" form = "addVideoForm">Submit</button>
            <button class = "button is-danger" type = "reset" form = "addVideoForm">Cancel</button>
        </footer>
    </div>
</div>
{% endblock %}
{% block body %}
<h3 class = "title is-3">My Videos</h3>
<table class = "table is-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Added</th>
        </tr>
    </thead>
    <tbody>
        {# {% for video in videos %} #}
        {% for i in range(videos|length) %}
        {% set video = videos[i] %}
        <tr>
            <td>{{ video.name }}</td>
            <td>
                <ul class = "artistsList">
                    {% for j in range(connections[video.id]|length) %}
                    {% set artist = artists[connections[video.id][j]] %}
                    <a href = "/artists/{{ artist.name }}/">{{ artist.get_readable_name() }}</a>
                    {% if j != connections[video.id]|length - 1 %}<span>,&nbsp;</span>{% endif %}
                    {% endfor %}
                </ul>
            </td>
            <td>{{ video.added }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class = "container">
    <div class = "buttons">
        <button class = "button is-success" onclick = "activateModal('addVideoModal');">Add Video</button>
    </div>
</div>
{% endblock %}